.filter {
  cursor: pointer;
}

.filter.is-active {
  text-decoration: underline;
}

.item {
  user-select: none;
  cursor: pointer;
}

.todosList {
  padding: 0 0 0 15px;
}

.done {
  text-decoration: line-through;
}
